clase2909_XSD/ejemplo1/nota.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="nota"><!-- ELEMENTO COMPLEJO (SI TIENE HIJOS)-->
        <xs:complexType>
            <xs:sequence><!-- IMPORTA EL ORDEN-->
                <xs:element name="de" type="xs:string"/><!-- ELEMENTO SIMPLE (NO TIENE HIJOS)-->
                <xs:element name="para" type="xs:string"/>
                <xs:element name="asunto" type="xs:string"/>
                <xs:element name="cuerpo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
        
    </xs:element>
</xs:schema>